# variable

In [1]:
a=10

In [2]:
print(a)

10

#Variables
##Variables are containers for storing data values.

In [4]:
x=25
y="Piyush"

print(x,y)

25 Piyush

# To write a variable there are some rules that should be follow

## variable should not start by numbers 
## variable are case senstive a and A are differnt 
## variable should use any other symblioc accept (_)

In [5]:
course_name="Data science "
2course=15

SyntaxError: invalid decimal literal (4269295309.py, line 2)

## as u can see we can not start with numbers

In [6]:
course_name="Data science "
student="Piyush"
age=20
Student="piyush"

## there are 3 ways to write print

In [7]:
# normal print
print("name of the course is" ,course_name)
print("name of the student is" ,student)
print("name of the student is" ,Student)

name of the course is Data science
name of the student is Piyush
name of the student is piyush

In [8]:
# f format
print(f"the student name is {student} he is studing {course_name} course and his age is just {age}")

the student name is Piyush he is studing Data science  course and his age is just 20

In [12]:
# placeholder 
print ("The student name is {} he is studing {} course and his age is just {}".format(student,course_name,age)) 
# there are two ways to write print in placeholderformat 
print ("The student name is {s} he is studing {c} course and his age is just {a}".format(a=age,c=course_name,s=student))

The student name is Piyush he is studing Data science  course and his age is just 20
The student name is Piyush he is studing Data science  course and his age is just 20

# type of data type
## Text Type:	str
## Numeric Types:	int, float, complex
## Sequence Types:	list, tuple, range
## Mapping Type:	dict
## Set Types:	set, frozenset
## Boolean Type:	bool
## Binary Types:	bytes, bytearray, memoryview
## None Type:	NoneType

In [13]:
a=25

In [14]:
type(a)

int

In [15]:
a=10
b="piyu"
c=2.5
d=True
e=1+2j

In [23]:
type(a)

int

In [19]:
type(b)

str

In [20]:
type(c)

float

In [26]:
type(d)

int

In [22]:
type(e)

complex

# how to take input in program
## we can use input() to take input in the program

In [27]:
a=input("enter the number:")
print (a)

enter the number: 5

5

In [28]:
type(a)

str

In [29]:
# input is always string to convert it into int we need to use tyoe casting
b=int(input("Enter the number :"))
print(b)
type(b)

Enter the number : 9

9

int

# python is dynmaic programing
## we dont need to define variable data type

In [30]:
c=9.9

In [31]:
type(c)

float