
# Set
## Sets are used to store multiple items in a single variable.

## Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

### A set is a collection which is unordered, unchangeable*, and unindexed.
### Note: Set items are unchangeable, but you can remove items and add new items.
### Sets are written with curly brackets

In [1]:
s={}

In [2]:
type(s)

dict

In [4]:
s1={1,2,3,4,5,6}

In [5]:
type(s1)

set

In [7]:
s2={1,1,1,1,2,3,45,3,7,2,7,8,8,9,9,"messi","Messi","messi",3+4j,5.5,55,5.5}

In [8]:
s2 # as u can see it does not save same number or str again and again

{(3+4j), 1, 2, 3, 45, 5.5, 55, 7, 8, 9, 'Messi', 'messi'}

In [9]:
#type casting can be done
lst=[s2] # converted into list
l=list[s2] # two ways we can convert

In [10]:
lst

[{(3+4j), 1, 2, 3, 45, 5.5, 55, 7, 8, 9, 'Messi', 'messi'}]

In [11]:
type(lst)

list

In [17]:
t=tuple(s2) # converted into tuple

In [18]:
t

(1, 2, 3, 5.5, 7, 8, 9, 'messi', 45, (3+4j), 'Messi', 55)

In [19]:
type(t)

tuple

In [20]:
s2[0] # it can't be index or sliced

TypeError: 'set' object is not subscriptable

In [23]:
s3={1,2,3}
s4={4,5,6}

In [26]:
s5={s3,s4}  # cant be nested sets

TypeError: unhashable type: 'set'

In [34]:
s={1,2,3,[1,2,3]} # we cant add set and list in a set

TypeError: unhashable type: 'list'

In [33]:
s={1,2,3,(1,3,4)} # tuple can be add in set
s

{(1, 3, 4), 1, 2, 3}

In [35]:
# as we cant do slicing but we can use loop
s2

{(3+4j), 1, 2, 3, 45, 5.5, 55, 7, 8, 9, 'Messi', 'messi'}

In [36]:
for i in s2:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5.5 <class 'float'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
messi <class 'str'>
45 <class 'int'>
(3+4j) <class 'complex'>
Messi <class 'str'>
55 <class 'int'>

In [38]:
s2.add(33)
s2

{(3+4j), 1, 2, 3, 33, 45, 5.5, 55, 7, 8, 9, 'Messi', 'messi'}

In [41]:
s2.add("MESSi")
s2

{(3+4j), 1, 2, 3, 33, 45, 5.5, 55, 7, 8, 9, 'MESSi', 'Messi', 'messi'}

In [42]:
s2.add(1)
s2 # as 1 is already in set it doent fits duplicates

{(3+4j), 1, 2, 3, 33, 45, 5.5, 55, 7, 8, 9, 'MESSi', 'Messi', 'messi'}

In [43]:
s2.pop() # as 1 was added first so it is pop first

1

In [47]:
s2.pop(4) # we can't give argumest also in set

TypeError: set.pop() takes no arguments (1 given)

In [50]:
print(s2)
len(s2)

{3, 33, 5.5, 7, 8, 9, 'messi', 'MESSi', 45, (3+4j), 'Messi', 55}

12

In [51]:
s3={1,2,3,4,5,6}

In [52]:
s2.difference(s3)

{(3+4j), 33, 45, 5.5, 55, 7, 8, 9, 'MESSi', 'Messi', 'messi'}

In [53]:
s3.difference(s2)

{1, 2, 4, 5, 6}

In [58]:
s2.intersection(s3)

{3}

In [57]:
s2.copy()

{(3+4j), 3, 33, 45, 5.5, 55, 7, 8, 9, 'MESSi', 'Messi', 'messi'}

In [62]:
s3.issubset(s2)

False

In [63]:
s3.remove(5)

In [64]:
s3

{1, 2, 3, 4, 6}

In [65]:
s3.clear()

In [66]:
s3

set()

In [68]:
del(s3)

###

In [69]:
s3

NameError: name 's3' is not defined