In [ ]:
# there are many types of control flow statements
# 1] if elif and else

In [ ]:
# if elif and else

In [2]:
a=5

if a>2:
    print("a is bigger")

a is bigger

In [3]:
a=1

if a>2:
    print("a is bigger")
    
# in if statement only if it is not true then no ans but no error also

In [4]:
a=3

if a <1:
    print("a is smaller")
else :
    print ("a is bigger")

a is bigger

In [6]:
a=3
b=5
c=8

if a>b and a>c:
    print("a is largest number")
elif b>a and b>c:
    print("b is largest number")
else :
    print("c is largest number")

c is largest number

In [9]:
a=3
b=5
c=9

if a>b and a>c:
    print("a is largest number")
elif b>a and b>c:
    print("b is largest number")
elif c>a and c>b:
    print("c is largest number")
else:
    print("there is some error")

c is largest number

In [10]:
a=3
b=5
c=5

if a>b and a>c:
    print("a is largest number")
elif b>a and b>c:
    print("b is largest number")
elif c>a and c>b:
    print("c is largest number")
else:
    print("there is some error")

there is some error

In [ ]:
# for loops

In [1]:
s="piyush"  # for loop for string

for i in s:
    print(i)

p
i
y
u
s
h

In [2]:
l=[1,2,3,4,5,6,7,8,9,10] # for loop for num

for num in l :
    print (num)
print(l)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l=[1,2,3,4.5,6.6,1+5j,"piyush"] # for loop for both string and mum


for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
6.6 <class 'float'>
(1+5j) <class 'complex'>
piyush <class 'str'>

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]


for i in l:
    if i%2==0:
        print(f"It is a even number {i}")
    else:
        print(f"It is a odd number {i}")

It is a odd number 1
It is a even number 2
It is a odd number 3
It is a even number 4
It is a odd number 5
It is a even number 6
It is a odd number 7
It is a even number 8
It is a odd number 9
It is a even number 10

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
l1=0 

for i in l:
    l1=l1+i
    print(l1) # inside the loop
    
print(l1) # outside the loop

1
3
6
10
15
21
28
36
45
55
55

In [5]:
# for loop in tuple

t=(1,2,3,4)

for num in t:
    print(num)

1
2
3
4

In [8]:
t1=((1,2),(3,4),(5,6))

print(len(t1))

for i in t1:
    print(i)

3
(1, 2)
(3, 4)
(5, 6)

In [14]:
for a,b in t1:
    print(a)

print("----------------------------------------------------")  
for a,b in t1:
    print(b)

1
3
5
----------------------------------------------------
2
4
6

In [20]:
d={"A":1,"B":2,"c":3}

for num in d:
    print (num)
    
print("----------------------------------------------------")  

for num in d.items():
    print(num)
    
print("----------------------------------------------------") 


for num in d.keys():
    print(num)
    
print("----------------------------------------------------") 

for num in d.values():
    print(num)
    
print("----------------------------------------------------") 

for keys,value in d.items():
    print(keys)
    
print("----------------------------------------------------") 

for keys,value in d.items():
    print(value)

A
B
c
----------------------------------------------------
('A', 1)
('B', 2)
('c', 3)
----------------------------------------------------
A
B
c
----------------------------------------------------
1
2
3
----------------------------------------------------
A
B
c
----------------------------------------------------
1
2
3

In [ ]:
# for i range ()
# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default),
# and stops before a specified number.
# range(start, stop, step)

In [21]:
for i in range (12):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11

In [13]:
for i in range (3,12):
    print(f"my number is {i}")

my number is 3
my number is 4
my number is 5
my number is 6
my number is 7
my number is 8
my number is 9
my number is 10
my number is 11

In [23]:
for i in range (3,31,3):
    print(f"my number is {i}")

my number is 3
my number is 6
my number is 9
my number is 12
my number is 15
my number is 18
my number is 21
my number is 24
my number is 27
my number is 30

In [14]:
for i in range (0,12):
    if i==3:
        continue
    print(f"my number is {i}")

my number is 0
my number is 1
my number is 2
my number is 4
my number is 5
my number is 6
my number is 7
my number is 8
my number is 9
my number is 10
my number is 11

In [15]:
for i in range (0,12):
    if i==3:
        break
    print(f"my number is {i}")

my number is 0
my number is 1
my number is 2

In [20]:
for i in range (0,12):

SyntaxError: incomplete input (2666909257.py, line 1)

In [21]:
for i in range (0,12):
    pass

In [ ]:
# while loop

In [24]:
i=0

while i <= 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
x=10

while x >=5:
    print(x)
    x-=1

10
9
8
7
6
5

In [3]:
x=10

while x >=5:
    if x==7:
        break
    print(x)
    x-=1

10
9
8

In [ ]:
i=0

while i <= 10:
    if i==8:
        continue
    print(i)
    i+=1

0
1
2
3
4
5
6
7

In [34]:
# list  comprehensions 

l1=[x for x in range(0,11)]

In [35]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
s="Messi"

l1=[str for str in s]

print(l1)

['M', 'e', 's', 's', 'i']

In [4]:
l2=[num for num in range (0,11) if num%2==0]
print(l2)

[0, 2, 4, 6, 8, 10]

In [6]:
l2=[num**2 for num in range (0,11) if num%2==0]
print(l2)

[0, 4, 16, 36, 64, 100]

In [10]:
l2=[num if num%2==0 else f"odd number {num}" for num in range (0,11)]
print(l2)

[0, 'odd number 1', 2, 'odd number 3', 4, 'odd number 5', 6, 'odd number 7', 8, 'odd number 9', 10]

In [11]:
l1=[33,55,32,5,44,555,943,423,444,924,1000,222,43]

l2=[x if x%2 ==0 for x in l1 ]

SyntaxError: expected 'else' after 'if' expression (256838715.py, line 3)

In [13]:
l1=[33,55,32,5,44,555,943,423,444,924,1000,222,43]

l2=[x  for x in l1 if x%2==0 ] # for if statemnt only write this way
print(l2)

[32, 44, 444, 924, 1000, 222]